/* The social menu */
.social {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 10%;
}

.social a {
    margin-left: 30%;
    margin-top:20%;
    text-decoration: none;
    display: block;
}
/*social*/


/* The header menu */
.header_logo_img {
    margin: 10px;
    margin-left: 40px;
}

.header {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    font-style: Regular;
    font-size: 16px;
    color: #EAEAEA;
}

.header a {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.header_logo:after {
    content: "";
    background: #848484;
    width: 1px;
    height: 40px;
    float: right;
    margin-left: 30px;
    margin-top: 15%;
}

.header_call {
    position: absolute;
    top: 70%;
    right: 5%;
    color: #FFFFFF;
    border: 1px solid #EF8F01;
    padding: 12px 25px 12px 25px;
    background-color: #EF8F01;
    cursor: pointer;
}

#header_number{
    margin-left: 10%;
}

.sticky {
  color: #2F2F2F;
}
/*header*/


body {
    background: #E5E5E5 url(image/fon.png);
    background-repeat: no-repeat;
    background-position: top center;
    overflow-x: hidden;
}

.title {
    margin-top: 15%;
    margin-left: 15%;
    font-weight: bold;
    font-style: black;
    font-family: lato;
    font-size: 35px;
    color: #ffffff;
    width: 517px;
    margin-bottom: 1px;
}

.title a {
    font-weight: bold;
    font-style: black;
    font-family: lato;
    font-size: 35px;
    color: #EF8F01;
    width: 517px;
}

.front_page { 
    margin-top: -10%;
    margin-right: 5%;
    text-align: right;
    font-style: Regular;
    font-family: lato;
    font-size: 18px;
    color: #848484;  
}

a.number {
    font-weight: bold;
    font-style: Black;
    font-family: lato;
    font-size: 18px;
    color: #FFFFFF;
}

a.time_work { 
    font-style: Regular;
    font-family: lato;
    font-size: 18px;
    color: #FFFFFF;
}

a.front_page_mail { 
    font-style: Regular;
    font-family: lato;
    font-size: 18px;
    color: #FFFFFF;
}

.more_detailed {
    color: #FFFFFF;
    position: absolute;
    margin-top: 12%;
    margin-left: 45%;
    margin-right: 50%;
    border: 1px solid #EF8F01;
    padding: 12px 25px 12px 25px;
    background-color: #EF8F01;
    cursor: pointer;
}

.leader {
    display: inline-block;
    margin-left: 10%;
    margin-top: 25%;
    margin-right: 46%;
    font-style: Black;
    font-family: lato;
    font-size: 30px;
    color: #2F2F2F;
}

h2 {
    display: inline-block;
    margin-left: 10%;
    margin-right: 30%;
    font-style: Black;
    font-family: lato;
    font-size: 30px;
    color: #2F2F2F;
}

/*item*/
.image {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.product_name {
    letter-spacing: 0px;
    font-weight: bold;
    font-style: Black;
    font-family: lato;
    font-size: 18px;
    color: #2F2F2F;
    margin-bottom: 30px;
    margin-left: 0%;
}

.product {
    font-weight: normal;
    font-style: Bold;
    font-family: lato;
    font-size: 14px;
    color: #848484;
    line-height: 0.1em;
    vertical-align: top;
    margin-right: 30px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.25);
    width: 220px;
    height: 270px;
    padding: 20px;
    background-color: #FFFFFF;
}

.price {
    font-style: Black;
    font-family: lato;
    font-size: 18px;
    color: #2F2F2F;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

.product_more {
    font-style: Black;
    font-family: lato;
    font-size: 13px;
    color: #2F2F2F;
    font-weight: bold;
    border: 1px solid #848484;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.product_buy {
    font-style: Black;
    font-family: lato;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #EF8F01;
    background-color: #EF8F01;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

/*item*/

.header a:hover {
    color:#EF8F01;
    border-bottom: 1px solid #EF8F01;
}

button.button_next {
    height: 30px;
    width: 30px;
    bottom: 60px;
    color:  #848484;
    border: 1px solid  #848484;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.button_next:hover {
    background-color: #EF8F01;
    color: #FFFFFF;
    border: 1px solid  #EF8F01;
}

button.button_back {
    height: 30px;
    width: 30px;
    bottom: 60px; 
    color: #848484;
    border: 1px solid  #848484;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.button_back:hover {
    background-color: #EF8F01;
    color: #FFFFFF;
    border: 1px solid  #EF8F01;
}

/* hide scroll */
table::-webkit-scrollbar { 
    width: 0; 
}

table { 
    -ms-overflow-style: none; 
}
/* hide scroll */

table {
    margin-left: 10%;
    width: 80%;
    height: 20%;
    overflow-x: scroll;
    display: block;
}